
    
    <div class="ui container">
        <hr>
        <h6>YelpCamp Webdevbootcamp Assignment Site (c) Carl Andersson 2017</h6>
    </div>
    
    
    <!--Required js code to use SemanticUI-->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="/js/materialize.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>