<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container z-depth-1">

    <div class="row">
        <form class="col s8 m4 offset-s2 offset-m4" action="/register" method="POST">
            
            <div class="row">
                <div class="header text center">
                    <h4 class="text flow">Sign Up to YelpCamp</h4>
                </div>
                <div class="input-field">
                    <input type="text" id="registerUsername" name="username">
                    <label for="registerUsername">Enter your username here</label>
                </div>
                <div class="input-field">
                    <input type="password" id="registerPassword" name="password">
                    <label for="registerPassword">Enter a password here</label>
                </div>
                <div class="text center">
                    <button class="waves-effect waves-light btn right blue darken-1">Register</button>
                    <a href="/" class="left">Back</a>    
                </div>                
            </div>
        </form>
    </div>
</div>

<% include ./partials/footer %>